*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navbarlinks {
    display: flex;
    column-gap: 20px;
}
.navbarlinks a{
    text-decoration: none;
    color:black;
}
.navbarlinks a:hover{
    text-decoration: underline;
    color:gray;
}
.menubar{
    display: none;
}
/*side navbar*/
.sidebar{
    background-color:rgb(1, 24, 46);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
   
}
.snavlink{
    margin-bottom: 20px;
}
.sidenavbarlinks a{
    text-decoration: none;
    color: white;
}
.sidenavbarlinks a:hover{
    text-decoration: underline;
}

/*header*/
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header button{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
.service{
    padding: 20px;
}
.service1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service2{
    display: flex;
    justify-content: space-between;
}
.service2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}
.new{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.newarivals{
    position: relative;
    flex-basis: 20%;
}
.newarivals button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5% ;
    margin-top: 10px;
    color: black;
    position: absolute;
    top: 50%;
    left: 10%;
    border: none;
    border-radius: 10px;

}
.most{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mostwant{
    position: relative;
    flex-basis: 20%;
}
.mostwant button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5% ;
    margin-top: 10px;
    color: black;
    position: absolute;
    top: 50%;
    left: 10%;
    border: none;
    border-radius: 10px;

}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.news button{
    margin-top: 10%;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;

}
.news input{
    padding: 5px;
   width: 80vw;
   margin-bottom: 10px;
   border-style: solid;
   border-color: black;
   margin-top: 10px;
}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color:rgb(1, 24, 46) ;
    color: white;
}
.collection{
    margin-top: 20px;
    
}
.collectsearch{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    margin-top: 10px;
    padding: 10px;
}
.collectsearch input{
    border: none;
    width: 100%;
    background-color: transparent;

}
.collectsearch input:focus{
    outline: none;
}
.production{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;

}
.productbox{
    text-align: center;
    flex-basis: 20%;
}
.productbox img{
    border-radius: 10px;
}
.contactus{
    margin-top: 25px;
    width: 70%;
    height: 100%;
    background-color: rgb(1, 24, 46);
    color: white;
    margin-left: 15%;
    padding: 20px;
}
.contact{
    padding: 20px;
}
.inputbox{
    padding: 10px;
    width: 94%;
    margin-top: 10px;
    border: none;
}
.messagebox{
   padding: 30px;
    width: 90%;
    border: none;
    margin-top: 10px;

}
.submit{
    margin-left: 18px;
}
.submit button{
    background-color: rgb(11, 29, 197);
    color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;

}



/*media query*/

@media  screen and (max-width:600px) {
    .menubar{
    display: block;
}
.navbarlinks{
    display: none;
}
.himage{
    display: none;
}
.service1{
    display: none;
}
.service2{
    flex-direction: column;
}
}

